 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>I’m a Computer Systems Engineering graduate from <a href="http://www.carleton.ca" target="_blank">Carleton University</a>. After finishing university I decided to take a break and go travelling to far off places like Europe, Asia, South America and Africa for over 8 months.</p>

                    <p>Coming back to Canada, I settled in Ottawa, ON for three years working as an Application Engineer as part of the Product Management team at <a href="http://www.orbcomm.com/">SkyWave Mobile</a>. From here, I moved to Vancouver, BC and I am now working as an API Support Specialist at <a href="http://www.iqmetrix.com/">iQmetrix</a>.</p>

                    <p>In my free-time I am continuing my education to gain valuable hands-on skills. I am currently pursuing an <a href="http://www.bcit.ca/study/programs/6957acert">Applied Web Development certificate</a> from BCIT, and slowly expanding my web development knowledge-base with such skills as HTML5, CSS3, SQL, and jQuery.</p>
                </div>
                <!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>