<!-- ******** All of my Personal projects are added here ******** -->

<div class="content-section-c" id="personal-projects">
    <h2 class="text-center">Personal Projects</h2>
</div>

<div class="content-section-b">

    <div class="container">

            <div class="col-md-6">
                <a target="_blank" href="https://itunes.apple.com/us/app/y-deals/id1447894077"><img src="img/projects/ydeals-ios.png" class="responsive-image" title="screen capture of the YVR app" /></a>
            </div>
            <div class="col-md-6">
                <h4>iPhone Application Development</h4>
                <p>Status: <span class="complete" >Complete</span><br/> 
                 Platform: iOS<br/>
                 Published: December 31, 2018</p>
                
                <p>I've been working on the iPhone equivalent of the <a href="https://play.google.com/store/apps/details?id=com.travel.jojo.yvrdeals" target="_blank">YDeals</a> app I created</p>

                <p>The goal of this project was to design an iPhone application that communicates with the Y Deals <a href="http://yvrdeals.com/atom/1" target="_blank">RSS feed</a> using the same concepts as the Android version.</p>

                <p>I have published this app on Apple's App Store store under "YDeals". You can see it <a href="https://itunes.apple.com/us/app/y-deals/id1447894077" target="_blank">here</a>.</p>

                <p><strong>Note:</strong> I was given consent from the YDeals author to publish this app, however I will not be making many updates due to work constraints.</p>
            </div>
            <div class="clearfix"> </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section -->

<div class="content-section-a">

    <div class="container">

            <div class="col-md-6">
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.travel.jojo.yvrdeals"><img src="img/projects/yvrdeals.png" class="responsive-image" title="screen capture of the YVR app" /></a>
            </div>
            <div class="col-md-6">
                <h4>Android Application Development</h4>
                <p>Status: <span class="complete" >Complete</span><br/> 
                 Platform: Android<br/>
                 Published: July 27, 2018</p>
                
                <p>I've been browsing the <a href="http://yvrdeals.com" target="_blank">YVR Deals</a> website quite a bit these days and thought that it would be nice to have a phone app that has push notifications whenever a new deal comes out.</p>

                <p>The goal of this project was to design an Android application that communicates with the YVR Deals <a href="http://yvrdeals.com/atom/1" target="_blank">RSS feed</a> based on the following tutorials and examples: 
                <ul>
                    <li><a href="https://jmsliu.com/1390/rss-reader-app-android-tutorial-1-listview-and-arrayadapter.html" target="_blank">Rss Reader App Android Tutorial 1: ListView and ArrayAdapter</a></li>
                    <li><a href="https://github.com/moztro/AndroidRssReader" target="_blank">AndroidRssReader</a></li>
                </ul> 
                </p>

                <p>I have published this app on the Google Play store under "YDeals". You can see it <a href="https://play.google.com/store/apps/details?id=com.travel.jojo.yvrdeals" target="_blank">here</a>.</p>

                <p><strong>Note:</strong> I was given consent from the YDeals author to publish this app on Google Play.</p>
            </div>
            <div class="clearfix"> </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section -->

<div class="content-section-b">

    <div class="container">

        <div class="col-md-6 wedo-left">
                <h4>Cordova Mobile Development</a></h4><br/>
                <p>Status: <span class="complete">Complete</span> <br/>
                 Platform: <a href="https://cordova.apache.org/" target="_blank">Cordova</a>, Android <br/>
                 Published: Dec. 14, 2016</p>

                <p>In my COMP2052 course at BCIT I am continuously learning about mobile development.</p>

                <p>For my final assignment, the goal was to create a very simple accelerometer app using Cordova that moves a ball when you move the device. Cordova is a hybrid platform that makes use of HTML, CSS, and JavaScript in order to emulate a native Android application. In this assignment I used the HTML5 <a href="http://www.w3schools.com/html/html5_canvas.asp" target="_blank">Canvas</a> Image element to simulate the ball.</p>

                <p>I based my assignment off of a <a href="https://www.codeproject.com/articles/645779/mobile-accelerometer-programming-with-javascript-a" target="_blank">CodeProject tutorial</a> based on PhoneGap, the predecessor to Cordova.</p>

                <p>The assignment is hosted in my <a href="https://github.com/dwilcox8/COMP2052-Cordova">Github repo</a>, including the <a href="/comp2052/accelApp/android-debug.apz">APK file</a>. (You'll have to rename the extension)</p>

            </div>
            <div class="col-md-6 wedo-right">
                <a  target="_blank" href="https://github.com/dwilcox8/COMP2052-Cordova"><img src="img/projects/comp-2052-accel-app.png" class="responsive-image" title="accelerometer application on emulated Android device" /></a>
            </div>
            <div class="clearfix"> </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section -->

<div class="content-section-a">

    <div class="container">

            <div class="col-md-6">
                <a target="_blank" href="/comp1950/metasite-index.html"><img src="img/projects/comp-1950-project.png" class="responsive-image" title="lesson page from protosite of comp1950" /></a>
            </div>
            <div class="col-md-6">
                <h4>COMP1950 Final Project</h4>
                <p>Status: <span class="complete" >Complete</span> <br/>
                 Platform: HTML, CSS, jQuery <br/>
                 Published: July 07, 2016</p>
                
                <p>The final project for COMP1950 was my first fully featured web development project outside of work.</p>

                <p>The goal of this project was to design an updated version of the existing COMP1950 <a href="http://bcitcomp.ca/1950/">website</a> using the BCIT theme.</p>

                <p>I partnered with three other team members from COMP1950 for our proposal. The final project is hosted in <a target="_blank" href="https://github.com/dwilcox8/COMP1950-Final-Project">Github</a> in order to track changes.</p>
                <a href="/comp1950/metasite-index.html"" class="btn btn-info btn-warning" role="button">DEMO</a>

            </div>
            <div class="clearfix"> </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section -->

<div class="content-section-b">

    <div class="container">

        <div class="col-md-6 wedo-left">
                <h4>Engineering Final Project</a></h4>
                <p>Status: <span class="complete">Complete</span> <br/>
                 Platform: Wii <br/>
                 Published: June 16, 2016</p>

                <p>For my 4th year project at Carleton University my task was to demonstrate the capabilities of connecting a WiiMote to an RC car via Bluetooth. This project brought together many technologies, including an Arduino board to communicate with the WiiMote, and a breadboard for connecting the wiring between the Arduino and remote control to the RC truck. </p>

                <p>You can see a video demonstation on <a target="_blank" href="https://www.youtube.com/watch?v=Xkp_iJzlRGo">YouTube</a>.</p>
            </div>
            <div class="col-md-6 wedo-right">
                <a  target="_blank" href="https://www.youtube.com/watch?v=Xkp_iJzlRGo"><img src="img/projects/engineering-project.jpg" class="responsive-image" title="controlling an rc car with a wiimote" /></a>
            </div>
            <div class="clearfix"> </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section -->

<div class="content-section-a">

    <div class="container">

            <div class="col-md-6">
                <a target="_blank" href="https://github.com/dwilcox8/norrisbot"><img src="img/projects/norris-bot.png" class="responsive-image" title="tutorial homepage and norrisbot chat" /></a>
            </div>
            <div class="col-md-6">
                <h4>Learning Node.js</h4>
                <p>Status: <span class="complete" >Complete</span> <br/>
                 Platform: Node.js <br/>
                 Published: Aug. 11, 2016</p>
                <p>I'm actively getting into more of a development role at my workplace.</p> 

                <p>For my first back-end project, I created a Chuck Norris bot that provides Chuck Norris lines into the iQmetrix Slack application. This bot is based on the <a target="_blank" href="https://scotch.io/tutorials/building-a-slack-bot-with-node-js-and-chuck-norris-super-powers" >Scotch.io Node.js Tutorial</a>, which incorporates Node.js, a local database, the Heroku platform, and a Slack webhook.</p>

                <p>My version is slightly changed, as I use an API call to <span style="font-weight: bold;">GET</span> Chuck Norris jokes from the <a target="_blank" href="http://www.icndb.com/">Internet Chuck Norris Database</a>.</p><p>You can check out my code in my <a target="_blank" href="https://github.com/dwilcox8/norrisbot">Github Repo.</a></p>

            </div>
            <div class="clearfix"> </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section -->

<div class="content-section-b">

    <div class="container">

        <div class="col-md-6 wedo-left">
                <h4>jQuery mobile development</a></h4>
                <p>Status: <span class="complete" >Complete</span> <br/>
                 Platform: jQuery Mobile <br/>
                 Published: Sept. 18, 2016</p>

                <p>In my COMP2052 course at BCIT, I am learning more about mobile web development.</p>

                <p>The first assignment required the use of <a target="_blank" href="https://jquerymobile.com/">jQuery Mobile</a>. The objective of the assignment was to create a jQuery Mobile client-side app that demonstrated a single page with a dropdown box, a map, and text that changed depending on your selection.</p>

                <p>My application shows a map and description of each of the BCIT campuses, based on the selected item from the dropdown menu.</p> 

                <p>The demo is being hosted in <a target="_blank" href="https://github.com/dwilcox8/COMP2052-jQuery-Mobile">Github</a> in order to track changes.</p>
                <p><a target="_blank" href="/comp2052/assign1/index.html" class="btn btn-info btn-warning" role="button">DEMO</a></p>

            </div>
            <div class="col-md-6 wedo-right">
                <a target="_blank" href="/comp2052/assign1/index.html"><img src="img/projects/jquery-mobile.png" class="responsive-image" title="jQuery mobile campus application" /></a>
            </div>
            <div class="clearfix"> </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section -->

<!-- All of my Work projects are added here -->

<div class="content-section-c" id="work-projects">
    <h2 class="text-center">Work Projects</h2>
</div>

<div class="content-section-a" id="work-projects">

    <div class="container">

        <div class="col-md-6">
            <a target="_blank" href="http://developer.iqmetrix.com"><img src="img/projects/dev-portal-wp.png" class="responsive-image" title="homepage of next iqmetrix developer portal" /></a>
        </div>
        <div class="col-md-6">
            <h4>iQmetrix Developer Portal</h4>
            <p>Status: <span class="complete" >Complete</span> <br/>
             Platform: WordPress, <a href="https://github.com/lord/slate">Slate</a><br/>
             Published: Feb. 26, 2017</p>
            <p>The next release of the iQmetrix <a target="_blank" href="http://developer.iqmetrix.com">Developer Portal</a> is now available, and is an update to the initial iteration. Based on my interviews with internal development and sales teams, as well as external clients, I made the portal more flexible and to a much broader audience. </p>
            <p>For example, we used WordPress to give the Marketing and Sales teams the ability to publish their own content, as well used a three column layout for the API reference pages. </p>

            <p>The new three column API (<a href="https://github.com/lord/slate">slate</a>) layout can be found on our <a target="_blank" href="http://developer.iqmetrix.com/api">API section</a>.</p>
            
        </div>
        <div class="clearfix"> </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section -->

<div class="content-section-b">

    <div class="container">

        <div class="col-md-6 wedo-left">
            <h4>iQmetrix Developer Portal</a></h4>
            <p>Status: <span class="complete" >Complete</span><br/>
             Platform: <a href="https://jekyllrb.com/">Jekyll</a><br/>
             Published: July 01, 2016</p>

            <p>iQmetrix gave me the ability to practice my web development skills. My first project was to update the landing page and layout for our <a href="http://developers.iqmetrix.com">Developer Portal</a>. Once all changes and tweaks were finalized on our Github testing site, they were released onto the production site. </p>
            
            <p>I used bootstrap to help me learn and I have adapted these layouts to create a more responsive design.</p>

            <p>With this project, I started with wireframing and Photoshop, and then integrated jQuery, CSS, and HTML into the website’s style.</p>

            <p>To publish content, we use <a href="https://jekyllrb.com/">jekyll</a>, a static site generator that provides simple scripting though the nunjucks and liquid templating engines.</p>
        </div>
        <div class="col-md-6 wedo-right">
            <a target="_blank" href="http://developers.iqmetrix.com"><img src="img/projects/dev-portal-jekyll.png" class="responsive-image" title="guide page from developer portal" /></a>
        </div>
        <div class="clearfix"> </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section -->
