<!DOCTYPE html>
<html>
	<!-- 

Owner and author:
    Dan Wilcox

-->

    {% include head.html %}
	<body id="page-top" class="index">
    {% include nav.html %}

    <div class="content-section-b">
		<div class="container">

			<div class="text-center">
				<br>
				<h3>Chapter 02: Hungary</h3>
				<br>
			</div>

			<p>Wandering around Budapest at first all you notice is the smell from the Danube river. But looking beyond that there is a vibrant city full of rich culture.</p>

			<p>With its thriving markets you get a sense that this will be the beginning of a great European adventure. But before that I have to make a quick detour...</p>

			<div class="text-center">
				<ul class="list-inline" style="font-size:26px; font-weight: 700;">
		            <li><a href="/blog/chapter01/">Chapter 01</a></li>
		            <li><a href="/blog/">Home</a></li>
		            <li><a href="/blog/chapter03/">Chapter 03</a></li>
		        </ul>
			</div>

		</div>

	</div>

    {% include footer.html %}
    {% include js.html %}
	</body>
</html>