<!DOCTYPE html>
<html>
	<!-- 

Owner and author:
    Dan Wilcox

-->

    {% include head.html %}
	<body id="page-top" class="index">
    {% include nav.html %}

    <div class="content-section-b">
		<div class="container">

			<div class="text-center">
				<br>
				<h3>Chapter 01: NYC</h3>
				<br>
			</div>

			<div class="text-center">
				<p class="text-center"><i>Adventure is worthwhile.</i><p>
				<p>AMELIA EARHART</p>
				<br>
			</div>

			<p>Had my last meal in Ottawa. McDonald's. Said goodbye to my old friends and hello to new ones. Take the night bus to NY is always fun. There is always one guy who loves to ramble on about nothing. Sleeping was definitely out, but I made friends with a Taiwanese student studying in Texas. Getting through the U.S. border is always fun.. My guard loves 20 questions. Arriving in N.Y. I had my first meal, McDonald's. For now I'll stop writing and enjoy more of Central Park.</p>

			<p>Central Park is a dog's paradise. Checking into JFK was painless. What I thought would take 2 hours, took only 20 minutes. But back to N.Y.</p>

			<p>As I had said Central Park is a dog's paradise. The amount of fields and trees definitely helps. Strolling by the reservoir you get a peaceful glimpse of an otherwise hectic city.</p>

			<p>N.Y. is easily a walkable city, with most attractions being downtown; Macy's, Madison Square Gardens, Empire Building and Penn Station.</p>

			<div class="text-center">
				<ul class="list-inline" style="font-size:26px; font-weight: 700;">
		            <li><a href="/blog/">Home</a></li>
		            <li>  </li>
		            <li><a href="/blog/chapter02/">Chapter 02</a></li>
		        </ul>
			</div>

		</div>

	</div>

    {% include footer.html %}
    {% include js.html %}
	</body>
</html>