<!DOCTYPE html>
<html>
	<!-- 

Owner and author:
    Dan Wilcox

-->

    {% include head.html %}
	<body id="page-top" class="index">
    {% include nav.html %}

    <div class="content-section-b">
		<div class="container">

			<div class="text-center">
				<br>
				<h3>Chapter 03: Jordan</h3>
				<br>
			</div>

			<div class="text-center">
				<p class="text-center"><i>Do not go where the path may lead; go instead where there is no path and leave a trail. </i><p>
				<p>RALPH WALDO EMERSON</p>
				<br>
			</div>

			<p>Getting to Jordan was easy. Getting into Amman not easy. I took the airport express bus to the North End station in town. From there I was swamped by taxis. The taxi I took had not seatbelts; the driver was smoking and decided to get some gas, while the meter was still running. He kept asking me what hotel I was staying at, but I insisting that he drop me off at Hasham Restaurant. I met up with my travel buddies at Hashem. In my opinion this is the best take on fast-food that I have ever has and it will give you the best bang for your buck. After dropping my bags off at Albasi Hotel, we explored Amman.</p>

			<p>The nightlife in Amman is fantastic. Since this is an Islamic country, there are very few bars. This makes nightlife more family oriented.</p>

			<p>Adjusting to the climate and poverty take a little bit of getting used to. However, it's not as bad as people say. Sure, there will be a culture shock, but you adjust. We went sightseeing to Ajloun, which is a castle on the top of a hill. The castle itself is not very impressive, but the views of fields and forests is amazing. Afterwards we went to Jerash for the Roman architecture. Seeing columns and colosseums in a small Middle Eastern town is a nice change to the landscape.</p>

			<p>The next day I went on a tour of Bethany, where Jesus was baptized. While it was not all that impressive, I was just a stone's throw away from Israel. Next up the Dead Sea. This is the second reason to go to Jordan. The first is coming shortly. It was a brisk 38C out and floating about it felt more like a bathtub than sea. I did the touristy things too like take my picture while floating about and rubbing mud all over me.</p>

			<p>The tour guide dropped me and one of my travel buddies at the local bus station to Wadi Mousa. Taking the local bus is quite an adventure. It's packed and noisy and the driver is a road maniac. Seriously, there are no traffic laws in Jordan.</p>

			<p>One thing you notice when entering a Muslim state is that it is quite conservative. At different times of the day you will heat chants from the mosque loudspeakers calling out for prayer. Overall Jordan is fairly safe. Poor, yes. Dangerous, no.</p>

			<p>Petra is one of the Wonders of the World. And for good reason. You will not find anything as amazing as walking down a high walled road and discovering these immense structures meticulously carved from the stone walls. The famous one known as the Treasury is where you will start your adventure and the starting point to discovering the surrounding canyons.</p>

			<p>From the beauty of Petra I left for the adventurous Wadi Rum. Speeding through the desert in the back of a Toyota Landcruiser is an incredible thing to witness. My two recommendations for anyone planning on visiting Jordan are to see Petra and go for a tour through Wadi Rim with the Bedouins. The Dead Sea also cannot be missed.</p>

			<p>I will be going to Greece, but I cannot miss the opportunity to marvel at the next 'Wonder of the World'...</p>


			<div class="text-center">
				<ul class="list-inline" style="font-size:26px; font-weight: 700;">
		            <li><a href="/blog/chapter02/">Chapter 02</a></li>
		            <li><a href="/blog/">Home</a></li>
		            <li><a href="/blog/chapter04/">Chapter 04</a></li>
		        </ul>
			</div>

		</div>

	</div>

    {% include footer.html %}
    {% include js.html %}
	</body>
</html>