<!DOCTYPE html>
<html>
<!-- 

Owner and author:
    Dan Wilcox

-->

    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include about.html %}
    {% include projects_personal.html %}
    {% include projects_work.html %}
    {% include skills.html %}

    {% if site.contact == "static" %}
    {% include contact_static.html %}
    {% elsif site.contact == "disqus" %}
    {% include contact_disqus.html %}
    {% else %}
    {% include contact.html %}
    {% endif %}
    
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>